<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:create" patch:instead="*[@type='Sitecore.Shell.Framework.Commands.Create, Sitecore.Kernel']"
               type="SitecoreMaster.Foundation.Bucketing.Commands.Create, SitecoreMaster.Foundation.Bucketing" />
      <command name="item:addmaster" patch:instead="*[@type='Sitecore.Buckets.Pipelines.UI.AddMaster, Sitecore.Buckets']"
               type="Helix.Feature.AdvancedBuckets.Infrastructure.Commands.AddMaster, Helix.Feature.AdvancedBuckets.Infrastructure" />
    </commands>
    <controlSources>
      <source mode="on" namespace="Helix.Feature.AdvancedBuckets.Infrastructure.Dialogs" Assembly="Helix.Feature.AdvancedBuckets.Infrastructure" />
    </controlSources>
  </sitecore>
</configuration>
